<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="icon" type="image/png" href="{{url_for('static', filename='assets/img/favicon.ico')}}">
	<meta name="author" content="GMNX">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Login Portal | Thermal-AI </title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/my-login.css')}}">
	<!-- {{url_for('static', filename='img/logo.jpg')}}    -->
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="{{url_for('static', filename='img/thermal.png')}}" alt="logo">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Login</h4>
							<form method="POST" class="my-login-validation" novalidate="" action="/validate_portal">
								<div class="form-group">
									<label for="username">Username</label>
									<input id="username" type="text" class="form-control" name="username" pattern="[a-zA-Z0-9]{4,15}" value=""
										required autofocus>
									<div class="invalid-feedback">
										Username is invalid
									</div>
								</div>

								<div class="form-group">
									<label for="password">Password
										<a href="#" class="float-right">
											Forgot Password?
										</a>
									</label>
									<input id="password" type="password" class="form-control" name="password" required
										data-eye>
									<div class="invalid-feedback">
										Password is required
									</div>
								</div>

								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" name="remember" id="remember"
											class="custom-control-input">
										<label for="remember" class="custom-control-label">Remember Me</label>
									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Login
									</button>
								</div>
								<div class="mt-4 text-center">
									Don't have an account? <a href="{{ url_for('contact_us') }}">Contact Us</a>
									
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; <script>document.write(new Date().getFullYear())</script> pintar.ai. All rights reserved.
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/my-login.js')}}"></script>
	<!--  Notifications Plugin    -->
	<script src="{{url_for('static', filename='assets/js/plugins/bootstrap-notify.js')}}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
				{% if category == "success" %}
					{% set icon = "nc-check-2" %}
				{% elif category == "info" %}
					{% set icon = "nc-bell-55" %}
				{% elif category == "danger" %}
					{% set icon = "nc-simple-remove" %}
				{% else %}
					{% set icon = "nc-notification-70" %}
				{% endif %}
				
				$.notify({
					icon: "nc-icon {{icon}}",  
					message: "{{message}}"
	
				}, {
					type: "{{category}}",
					timer: 8000,
					placement: {
						from: "top",
						align: "right"
					}
				});
				{% endfor %}
			{% endif %}
		{% endwith %}
		});
	</script>
</body>

</html>