<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="icon" type="image/png" href="{{url_for('static', filename='assets/img/favicon.ico')}}">
	<meta name="author" content="GMNX">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Register | Thermal-AI </title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/my-login.css')}}">
</head>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
							<img src="{{url_for('static', filename='img/qr-code.png')}}" alt="logo">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Register</h4>
							<form method="POST" class="my-login-validation" novalidate="" action="/reg">
								<div class="form-group">
									<label for="name">Name</label>
									<input id="name" type="text" class="form-control" name="username" minlength=3 required autofocus>
									<div class="invalid-feedback">
										What's your Name?
									</div>
								</div>

								<div class="form-group">
									<label for="phone">Phone</label>
									<input id="phone" type="tel" class="form-control" name="phone_number" pattern="[+]{0,1}[0-9]{7,15}" required autofocus>
									<div class="invalid-feedback">
										What's your Phone Number?
									</div>
								</div>

								<div class="form-group">
									<label for="email">Email</label>
									<input id="email" type="email" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" required autofocus>
									<div class="invalid-feedback">
										What's your Email?
									</div>
								</div>

								<div class="form-group">
									<label for="password">Password</label>
									<input id="password" type="password" class="form-control" name="password" pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}" required autofocus data-eye>
									<div class="invalid-feedback">
										Minimum eight characters, at least one letter and one number
									</div>
								</div>

								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" name="agree" id="agree" class="custom-control-input" required="">
										<label for="agree" class="custom-control-label">I agree to the <a target="_blank" rel="noopener noreferrer" href="term_condition">Terms and Conditions</a></label>
										<div class="invalid-feedback">
											You must agree with our Terms and Conditions
										</div>
									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Register
									</button>
								</div>
								<div class="mt-4 text-center">
									Already have an account? <a href="{{ url_for('login') }}">QR Id Login</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; <script>document.write(new Date().getFullYear())</script> pintar.ai. All rights reserved.
						<a href="{{ url_for('contact_us') }}">
							Contact Us 
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/my-login.js')}}"></script>
	<!--  Notifications Plugin    -->
	<script src="{{url_for('static', filename='assets/js/plugins/bootstrap-notify.js')}}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
				{% if category == "success" %}
					{% set icon = "nc-check-2" %}
				{% elif category == "info" %}
					{% set icon = "nc-bell-55" %}
				{% elif category == "danger" %}
					{% set icon = "nc-simple-remove" %}
				{% else %}
					{% set icon = "nc-notification-70" %}
				{% endif %}
				
				$.notify({
					icon: "nc-icon {{icon}}",  
					message: "{{message}}"
	
				}, {
					type: "{{category}}",
					timer: 8000,
					placement: {
						from: "top",
						align: "right"
					}
				});
				{% endfor %}
			{% endif %}
		{% endwith %}
		});
	</script>
</body>
</html>