<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='assets/img/apple-icon.png')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='assets/img/favicon.ico')}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Device Management | Thermal-AI</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
    <link href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/css/light-bootstrap-dashboard.css')}}" +"?v=2.0.1"
        rel="stylesheet" />
    <!--sorttablejs -->
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
</head>

<body>


    <div class="wrapper">

        <div class="sidebar" data-color="blue">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag data-image="{{url_for('static', filename='assets/img/sidebar-5.jpg')}}"
    -->
            <div class="sidebar-wrapper">

                <div class="logo">
                    <a href="{{ url_for('admin_dash') }}" class="simple-text">
                        Thermal-AI
                    </a>
                    {% if error %}
                    <div class="alert alert-danger">
                        <strong>{{error}}</strong>
                    </div>
                    {% endif %}
                </div>
                <ul class="nav">
                    <li>
                        <a class="nav-link" href="{{ url_for('admin_dash') }}">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ url_for('user_profile') }}">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('device_list') }}">
                            <i class="nc-icon nc-cctv"></i>
                            <p>Device List</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ url_for('thermal_log') }}">
                            <i class="nc-icon nc-single-copy-04"></i>
                            <p>Visitor Record</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class=" container-fluid  ">
                    <a class="navbar-brand" href="{{ url_for('admin_dash') }}"> Dashboard </a>

                    <small class="d-lg-none"  >&copy; <script>document.write(new Date().getFullYear())</script> pintar.ai</small>
                    
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>

                    
                    
                
                    
                    
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                            <small style="margin:10px;" class="d-none d-lg-block" >&copy; <script>document.write(new Date().getFullYear())</script> pintar.ai</small>
                        
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item">
                                <!--<i class="nc-icon nc-palette"></i>-->
                                <span class="d-lg-none">Dashboard</span>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{{ url_for('thermal_log') }}"
                                    id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    
                                    <span class="no-icon">Menu</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{{ url_for('thermal_log') }}">User Profile</a>
                                    <a class="dropdown-item" href="{{ url_for('thermal_log') }}">User List</a>
                                    <a class="dropdown-item" href="{{ url_for('thermal_log') }}">Maps</a>
                                    <div class="divider"></div>
                                    <a class="dropdown-item" href="#">Contact Us</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('logout') }}">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card strpied-tabled-with-hover">
                            <div class="card-header ">
                                <h4 class="card-title">List of Device</h4>
                                <p class="card-category">Get a List of Devices</p>
                            </div>
                            <div class="card-body table-full-width table-responsive" >
                                <table id="myTable" class="table table-hover table-striped">
                                    <th>No</th>
                                    <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(2)')" style="cursor:pointer">Serial Number <i class="fa fa-fw fa-sort"></i></th>
                                    <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(3)')" style="cursor:pointer">Name <i class="fa fa-fw fa-sort"></i></th>
                                    <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">Owner <i class="fa fa-fw fa-sort"></i></th>
                                    <th>Action</th>
                                    {% set count = 1 %}
                                    {% for data in devices %}
                                    <tr class="item">
                                        <td>{{loop.index}}</td>
                                        <td>{{data["serial_number"]}}</td>
                                        <td>{{data["name"]}}</td>
                                        <td>{{data["owner"]}}</td>                            
                                    
                                        <td>
                                            <!-- UPDATE BUTTON -->
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myOutput{{data["serial_number"]}}">Update <i class="fa fa-edit	
                                                "></i></button>
                                            
                                            <!-- LOGOUT BUTTON -->
                                            <form action="{{ url_for('logout_device') }}" method="post">
                                                <input type="hidden" value="{{data["serial_number"]}}" name=serial_number>
                                                <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to logout from {{data["serial_number"]}}?');">Logout</button>
                        
                                            </form>
                                        </td>
                                    </tr>
                                            <!-- DIALOG BOX FOR UPDATE --> 
                                            <div class="modal" id="myOutput{{data["serial_number"]}}" role="dialog" tabindex="-1" aria-hidden="true">
                
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-body text-center">
                                                                <h4>Update Details <br><br> Serial Number:
                                                                <span style="text-decoration:underline;"><b>{{data["serial_number"]}}</b></span></h4><br>
                                                        <form id="submit_modal2" action="{{ url_for('update_device') }}" method="post">
                                                            <div class="form-group">
                                                                <label>Serial Number</label>
                                                                <input type="text" class="form-control" name="serial_number" readonly="true" value={{data["serial_number"]}}>
                                                                <label>Name</label>
                                                                <input type="text" class="form-control" name="name" value="{{data["name"]}}">
                                                                <label>Owner</label>
                                                                <input type="text" class="form-control" name="owner" readonly="true" value="{{data["owner"]}}">
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                                <button type="submit" class="btn btn-primary" onClick="document.getElementById('submit_modal2').submit();">Update</button>
                                                
                                                        </div>
                                                    </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--  End Dialog Box -->
                                        
                                        {% set count = count + 1 %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Trigger the modal with a button -->
                    <center>
                    
                    </center>
                    

                    <!-- Modal -->
                    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header text-center">
                        <h4 class="modal-title w-100" id="exampleModalLabel" >Add New Device</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body">
                        <form id="submit_modal" action="{{url_for('create_device')}}" method="POST">
                          <div class="form-group">
                            <label for="serial_number" class="control-label">Serial Number:</label>
                            <input type="text" class="form-control" name="serial_number" id="serial_number">
                          </div>
                          <div class="form-group">
                            <label for="name" class="control-label">Name:</label>
                            <input type="text" class="form-control" name="name" id="name">
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-fill" onClick="document.getElementById('submit_modal').submit();">Add</button>
                      </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                    <div class="container">
                        <nav>
                            <ul class="footer-menu">
                                <li>
                                    <a href="{{ url_for('admin_dash') }}">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Contact Us
                                    </a>
                                </li>
                            </ul>
                            <p class="copyright text-center">
                                Copyright &copy; <script>document.write(new Date().getFullYear())</script> pintar.ai. All rights reserved.
                            </p>
                        </nav>
                    </div>
                </footer>
            
        </div>
    </div>
    

    
    
</body>
<!--   Core JS Files   -->
<script src="{{url_for('static', filename='assets/js/core/jquery.3.2.1.min.js')}}" type="text/javascript"></script>
<script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="{{url_for('static', filename='assets/js/core/popper.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='assets/js/core/bootstrap.min.js')}}" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{{url_for('static', filename='assets/js/plugins/bootstrap-switch.js')}}"></script>
<!--  Notifications Plugin    -->
<script src="{{url_for('static', filename='assets/js/plugins/bootstrap-notify.js')}}"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="{{url_for('static', filename='assets/js/light-bootstrap-dashboard.js')}}" +"?v=2.0.1"
    type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == "success" %}
                {% set icon = "nc-check-2" %}
            {% elif category == "info" %}
                {% set icon = "nc-bell-55" %}
            {% elif category == "danger" %}
                {% set icon = "nc-simple-remove" %}
            {% else %}
                {% set icon = "nc-notification-70" %}
            {% endif %}
            
            $.notify({
                icon: "nc-icon {{icon}}",  
                message: "{{message}}"

            }, {
                type: "{{category}}",
                timer: 8000,
                placement: {
                    from: "top",
                    align: "right"
                }
            });
            {% endfor %}
        {% endif %}
    {% endwith %}
    });
</script>
</html>